<p>
    {{#str}}view_backup_report, local_backupftp{{/str}}
    <a href="report-restore.php">{{#str}}report, local_backupftp{{/str}}</a></p>

<p>
    {{#str}}run_cron, local_backupftp{{/str}}
    <a href="run-task.php">{{#str}}cron_task, local_backupftp{{/str}}</a></p>
