<fieldset id="id-{{{unique}}}" style="border:1px solid #959595;padding:6px;padding-left:50px;margin:3px;">
    <legend style="float: initial;width: auto;padding: 0 11px;margin-bottom: 4px;">
        {{{infocategori_link}}}</legend>
    <span style="float:right;color:#E91E63;margin-top: -21px;" onclick="$('#id-{{{unique}}} input').click();">
        {{#str}}select_deselect_all, local_backupftp{{/str}}</span>

    {{{data}}}

    <h4 style='float:right;color:#1E58E9;padding-top: -21px;'>
        {{#str}}total_files, local_backupftp{{/str}} {{{countall}}}<br>
        {{#str}}course_already_exists, "local_backupftp{{/str}}: {{{countexist}}}</h4>
</fieldset>