<h3>{{#str}}backup_report, local_backupftp{{/str}}</h3>
<p><a href="report-backup.php">{{#str}}click_here, local_backupftp{{/str}}</a></p>

<h3>{{#str}}restore_report, local_backupftp{{/str}}</h3>
<p><a href="report-restore.php">{{#str}}click_here, local_backupftp{{/str}}</a></p>