{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_backupftp/run-task

    Example context (json):
    {}
}}

<div class="alert alert-info">
    <h3>{{#str}}run_cron, local_backupftp{{/str}}</h3>

    <p>{{#str}}runtask_backup, local_backupftp{{/str}}</p>
    <a href="{{backup5url}}">{{#str}}runtask_execute_five_courses, local_backupftp{{/str}}</a><br>
    <a href="{{backup10url}}">{{#str}}runtask_execute_ten_courses, local_backupftp{{/str}}</a>

    <hr>

    <p>{{#str}}runtask_restore, local_backupftp{{/str}}</p>
    <a href="{{restore5url}}">{{#str}}runtask_execute_five_courses, local_backupftp{{/str}}</a><br>
    <a href="{{restore10url}}">{{#str}}runtask_execute_ten_courses, local_backupftp{{/str}}</a>
</div>
