<h3>{{#str}}runtask_execute_one_course, local_backupftp{{/str}}</h3>
<p>
    {{#str}}runtask_backup, local_backupftp{{/str}}
    <a href="?action=backup&nun=1">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>
<p>
    {{#str}}runtask_restore, local_backupftp{{/str}}
    <a href="?action=restore&nun=1">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>

<h3>{{#str}}runtask_execute_five_courses, local_backupftp{{/str}}</h3>
<p>
    {{#str}}runtask_backup, local_backupftp{{/str}}
    <a href="?action=backup&nun=5">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>
<p>
    {{#str}}runtask_restore, local_backupftp{{/str}}
    <a href="?action=restore&nun=5">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>

<h3>{{#str}}runtask_execute_ten_courses, local_backupftp{{/str}}</h3>
<p>
    {{#str}}runtask_backup, local_backupftp{{/str}}
    <a href="?action=backup&nun=10">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>
<p>
    {{#str}}runtask_restore, local_backupftp{{/str}}
    <a href="?action=restore&nun=10">{{#str}}runtask_click_here, local_backupftp{{/str}}</a>
</p>
